@charset "UTF-8";
body{
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	background-position: cover;
  	width: 100%;
  	

}

.header {
background-image: url("../images/stripes.png");
background-repeat: repeat-x;
margin: -10px;

}

.container {
	padding-top: 370px;
	padding-left:80px;
	
}

.container hr {
	width: 40px;
	background-color: red;
	border:red;
	height: 5px;
	margin-left: 0px;	
}


	
.container p {
	
	padding-bottom:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:20px;
	color:white;
	
}
