@charset "UTF-8";
body{
	width: 1374px;
	height: 800px;
	background: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	padding: 0;
	margin-top: -3px;
	margin-left: -3px;
	margin-bottom: -3px;
}

.container {
	padding-top: 350px;
	padding-left:80px;
	
}

.container hr {
	width: 40px;
	color: red;
	height: 2px;
	margin-left: 0px;	
}
	
.container p {
	
	padding-bottom:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size:18px;
	color:white;
	letter-spacing: 1px;
}